/* Utilities */
.loading {
    background: rgba(0, 0, 0, 0) url("/assets/images/loading.gif") no-repeat scroll 50% 50%;
    opacity: 0.15;
}

#mediaScreenAndMap.row{
    margin-left: 0px;
    margin-right: 0px;
}

.modal:nth-of-type(even) {
    z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}
    
/* Utilities */


/* VIDEO STYLING & MAP */
#map-container.col-lg-5
{
    padding-left: 0px;
    padding-right: 0px;
}
video {
  width: 100%    !important;
  height: auto   !important;
}
.map-canvas
{
    width: 100%;
    height: 324px;
}

.video-row {
	cursor: pointer;
}
.video-fluid {
    width: 100%;
}
#video-player.col-lg-12 {
	padding-left: 0px;
	padding-right: 0px;
}
#video-player.col-lg-7 {
	padding-left: 0px;
	padding-right: 0px;
}
/* VIDEO STYLING */


/* ICON */
.glyphicon.glyphicon-modal-window {
    position: relative;
    right: 18px;
    top: 4px;
    cursor: pointer;
}

.close {
    position: relative;
    left: -5px;
}
.close:focus, .close:hover {
	color: #fff;
}


/* MODAL */
#snapshotEditor .modal-dialog
{
    margin: 5% auto;
    position: absolute;
    left: 34.5%;
}

#bookmarkModalBox .modal-dialog
{
    margin: 10% auto;
}

#bookmarkDesc, #bookmarkName {
    background: #c0c0c2;
}

 

.ViewBookMark {
    display: block;
}
 
.bookmark-wrapper
{
    height: 515px;
    overflow-y: scroll;
}

.force-overflow
{
 
    height: auto;
}
 
#style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #2C2F43;
}

#style-3::-webkit-scrollbar
{
    width: 6px;
    background-color: #000;
}

#style-3::-webkit-scrollbar-thumb
{
    background-color: #000;
}

/* BOOKMARK */
.bookmark-item {
    cursor: pointer;
    border:1px solid transparent;
    padding: 3px;
    margin-bottom: 10px;
}
.bookmark-item:hover {
    background: rgba(84, 26, 26, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.19);
}
.col-lg-3.ViewBookMark {
    padding:0px;
}
