@font-face {
  font-family: 'icomoon_flight_01';
  src: url('../fonts/icomoon_flight_01.eot?xm1ff0');
  src: url('../fonts/icomoon_flight_01.eot?xm1ff0#iefix') format('embedded-opentype'), url('../fonts/icomoon_flight_01.ttf?xm1ff0') format('truetype'), url('../fonts/icomoon_flight_01.woff?xm1ff0') format('woff'), url('../fonts/icomoon_flight_01.svg?xm1ff0#icomoon_flight_01') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon_flight_01';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,
body{
    font-family: 'open_sanslight';
}
.icon-info:before {
  content: "\2c6";
}
.icon-help:before {
  content: "\e800";
}

.icon-user:before {
  content: "\79";
}
.icon-users:before {
  content: "\7a";
}
.icon-cog:before {
  content: "\43";
}

/******************
General Settings
*******************/

body {
    float: left;
    width: 100%;
    min-width: auto !important;
    position: relative;
    overflow: auto !important;
    background: #fff
}
body#dashboard_page,
body#cases_page,
body#favorites_page,
body#bookmarks_page,
body#pictures_page,
body#video_page,
body#users_page,
body#profile_page,
body#groups_page,
body#permissions_page,
body#devices_page,
body#activity_page,
body#files_page,
body#device_settings_page,
body#settings_page,
body#modules_page {
    background: #000;
}
body.page-body.loaded.dialog-open {
    overflow: hidden !important;
    pointer-events: none;
}
body.page-body.loaded.modal-open {
    padding-right: 0 !important;
    overflow: hidden !important;
}
html,
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    padding: 0;
    margin: 0;
}

h1 {
    color: #999999;
}


/******************
    Login Screen
*******************/

.login-page,
.login-page .login-header {
    background-color: #fff;
    /*background-image: url(../img/top_bg.jpg);*/
    background: #000;
    background-size: cover;
}

.logo-login {
    width: 50%;
}

.login-page .login-content{
    width: 400px;
}
.sync-progress {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    background: url('../images/sync_bg.png') no-repeat;
    background-size: cover;
    z-index: 99;
    overflow-y: auto;
    padding: 15px;
    border-left: 1px solid #fff;
    display: none;
}

.sync-progress-inner {
    width: 90%;
    margin: 10% auto;
}

.sync-progress-inner p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


/******************
    Left Side Bar
*******************/

.top-head-t {
    background: #010101;
    background-size: cover;
    float: left;
    width: 100%;
    min-height: 100px;
}

.sidebar-collapse a,
.sidebar-mobile-menu a {
    border: none !important;
}



.main-head-title h1{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

a.btn-logout{
    width: 60% !important;
}

/*.top-head-t a {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}
.main-head-title{
    display: inline-block;
    vertical-align: top;
    width: 49%;
}*/
.logo-top-menu {
    width: 260px;
    display: block;
    margin: 0 10px;
    max-width: none;
}

.page-container .sidebar-menu {
    float: left;
    background: url(../img/body_bg.jpg);
    padding-right: 0;
    padding-left: 0;
}

.logo-env {
    width: 100%;
    min-height: 100px;
}

.logo-wrapper {
    width: 85%;
}

.logo-menu {
    width: 35%;
    margin: 20px auto;
    display: block;
}

.page-container.sidebar-collapsed .sidebar-menu .logo-env > div.sidebar-collapse,
.page-container .sidebar-menu .logo-env > div.sidebar-collapse,
.page-container .sidebar-menu .logo-env > div.sidebar-mobile-menu {
    left: 0 !important;
}

.sidebar-collapse {
    top: 27px;
}

.page-container.sidebar-collapsed .sidebar-menu .logo-env > div.logo-wrapper {
    display: none;
}

.user-section {
    display: inline-block;
    position: relative;
    z-index: 999;
    height: 200px;
    padding: 0 20px 20px;
}

.user-info-wrap {
    margin: 10px auto;
    float: right;
}

.user-profile-wrap {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
}

.profile-img {
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
}

.user-title-wrap {
    display: inline-block;
    vertical-align: top;
}


p.name a {
    color: #eceef2;
    font-size: 18px;
    width: 100%;
}

p.title {
    color: #afb7c7;
    font-size: 16px;
}

.page-container.sidebar-collapsed .user-section {
    height: auto;
    padding-left: 10px;
    vertical-align: top;
}

.page-container .sidebar-menu #main-menu {
    float: left;
    width: 100%;
}

.page-container.sidebar-collapsed ul.visible {
    padding: 0 !important;
}

.page-container.sidebar-collapsed .sidebar-menu #main-menu > li > a > span:not(.badge) {
    background: #383C58;
}

input.filter-chk,
input.time-chk,
input.search-chk {
    cursor: pointer;
}

label.filter-label,
label.time-label,
label.search-label {
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    margin-top: -2px;
}

.page-container .sidebar-menu #main-menu li a {
    color: #fff;
    font-size: 16px;
}

input.last-days-txt {
    padding: 5px;
    width: 90px;
    color: #000;
    border: 1px solid #383C58;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.search-box {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    height: 30px;
    border: 1px solid #383C58;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.hex-icon-wrap {
    float: left;
    width: 100%;
    padding: 10% 20%;
}

.hex {
    float: left;
    margin-left: 10px;
    margin-bottom: -26px;
    cursor: pointer;
}

.page-container.sidebar-collapsed .hex {
    margin-left: -7px;
    margin-bottom: 6px;
}

.hex .top {
    width: 0;
    border-bottom: 10px solid #46c1fa;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}

.hex:hover .top {
    border-bottom: 10px solid #ea6ef5;
}

.hex .middle {
    width: 44px;
    height: 22px;
    background: #46c1fa;
}

.hex:hover .middle {
    background: #ea6ef5;
}

.hex:hover .middle a {
    color: #fff;
}

.hex .bottom {
    width: 0;
    border-top: 10px solid #46c1fa;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}

.hex:hover .bottom {
    border-top: 10px solid #ea6ef5;
}

.middle-icon {
    display: block;
    width: 100%;
    color: #fff;
}

.middle-icon i {
    text-align: center;
    display: block;
}


/******************
    Body Content
*******************/

.body-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background-size: 100%;
    /*min-height: 855px !important;*/
}

.top-head {
    background: #2c2f43;
    float: left;
    width: 100%;
    min-height: 100px;
}

.tabs-wrapper {
    display: block;
    width: 100%;
    margin: 10px 0;
}

ul.tabs {
    list-style: none;
    padding-left: 10px;
}

ul.tabs li {
    display: inline-block;
    width: 12%;
    height: 50px;
    border: 2px solid #999999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.tabs li a {
    background: rgba(67, 106, 132, 0.55);
    display: block;
    width: 100%;
    text-align: center;
    color: #999999;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
}

ul.tabs li a:hover,
ul.tabs li a:focus,
ul.tabs li.current a,
ul.tabs li.current a:hover,
ul.tabs li.current a:focus {
    background: #999999;
    text-decoration: none;
    color: #fff;
}

.tabs_item {
    display: none;
    padding: 30px;
    width: 100%;
    margin: 0 auto;
}

.tabs_item:first-child {
    display: block;
}

.video-wrapper {
    float: left;
    width: 100%;
    padding: 0;
}

.video-wrapper p {
    color: #999999;
    font-size: 14px;
}

.video-thumb-wrap,
.video-description-wrap {
    float: left;
}

.video-inner {
    float: left;
    clear: both;
    width: 100%;
}

.date-head {
    float: left;
    width: 99%;
    margin: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.date-head:before {
    position: relative;
    top: 0px;
    left: -20px;
    content: '\f077';
    display: inline-block;
    font-family: 'FontAwesome';
    color: #fff;
    float: left;
    font-size: 15px;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.date-head.active:before {
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.records-wrapper {
    float: right;
    width: 300px;
}

.records-wrapper p,
.records-wrapper select.records-drop {
    display: inline-block;
}

.records-wrapper p {
    font-size: 16px;
    font-weight: bold;
}

.records-wrapper select.records-drop {
    cursor: pointer;
    border: 1px solid #383b4e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 60px;
    margin-left: 10px;
    font-size: 15px;
}

.pager-wrap {
    float: right;
    max-width: 460px;
    margin: 20px 10px;
}

.pager-wrap p,
.pager-wrap span {
    display: inline-block;
}

.pager-wrap p {
    font-size: 16px;
    font-weight: bold;
}

.pager-wrap span {
    border: 1px solid #383b4e;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 45px;
    padding: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

span.page-nav {
    width: 45px;
    margin: 0 5px;
}

.pager-wrap span a{
    display: block;
}
.pager-wrap span a:hover,
.pager-wrap span a:focus{
    text-decoration: none;
}

.pager-wrap span:hover,
.pager-wrap span:focus,
.pager-wrap span.active {
    color: #fff;
    background: #383b4e;
}

.pager-wrap span:hover a,
.pager-wrap span:focus a,
.pager-wrap span.active  a{
    color: #fff;
}

span.dot-span,
span.dot-span:hover,
span.dot-span.active {
    border: none;
    background: #fff;
    color: #383b4e;
}

ul.visible {
    background-color: rgba(67, 106, 132, 0.25);
    padding: 0 20px !important;
}

.page-container.sidebar-collapsed ul.visible {
    background-color: rgb(67, 106, 132);
    padding: 0 20px !important;
}

.page-container.sidebar-collapsed .sidebar-menu #main-menu > li > a > span:not(.badge) {
    background: #436A84;
}
.video-details-container {
    float: left;
    width: 100%;
}
div.map_open,
div.bookmarks_open {
    width: 100% !important;
    padding: 0 !important
} 
#mediaScreenAndMap {
    padding: 0 15px;
    width: 58.33333333%;
    margin: 0 auto;
}
.btn-box {
    float: left;
    width: 100%;
    position: relative;
    padding: 10px;
    text-align: center;
}

#mediaScreenAndMap.col-sm-8 {
    padding: 0;
    width: 66.66666667% !important;
}

#map-container{
    min-height: 375px;
}
.btn-popup,
.btn.btn-info {
    margin: 0 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


/******************
    Nav Area
*******************/
.nav-area {
    min-height: 52px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #fff;
    float: left;
    width: 100%;
    z-index: 9;
    background: #000;
}

.nav-search {
    font-weight: 300;
    font-size: 20px;
    color: #f6f6f6;
    z-index: 2;
    position: relative;
    top: 10px
}
.feature-area{
    float: left;
    width: 100%;
    line-height: 35px !important;
}
.nav-items {
    position: relative;
    top: 24px;
    text-align: right;
}

.nav-search-input {
    width: 40%;
    height: 35px;
    position: relative;
    display: inline-block;
    float: left;
}

.keyword {
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 0px !important;
    font-size: 16px;
    height: 35px;
    width: 100%;
    color: #ffffff;
    padding: 0px 30px 0px 10px;
    margin: 0 !important;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0.6;
}

.clickable.icon-search {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
    color: #ffffff !important;
}

a.advance-seache {
    color: #fff;
    text-decoration: underline;
    display: inline-block;
    width: 45%;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    float: left;
    position: relative;
    top: 18px;
}

.nav-items div {
    font-size: 20px;
    width: 38px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
}

.thirdColorText a:hover,
.thirdColorText a:focus {
    color: #fff !important;
}
/******************
    Dashbord
*******************/

.dash-box {
    height: 150px;
    background: rgba(67, 106, 132, 0.25);
    margin: 10px 0;
    cursor: pointer;
    padding-top: 5px;
}

.dash-box h2 {
    color: #999999;
    font-size: 22px;
}

.dash-box h2 i {
    margin: 0 20px;
}


/******************
    Progress Bar
*******************/

.progress-bar {
    background-color: #324856;
}

.bs-example p {
    margin-left: 10px;
}

.progress-bar-danger {
    background-color: #d9534f !important;
}


/******************
    Main.css
*******************/


/* Utilities */

.loading {
    background: rgba(0, 0, 0, 0) url("/assets/images/loading.gif") no-repeat scroll 50% 50%;
    opacity: 0.15;
}

#mediaScreenAndMap.row {
    margin: 5px 0;
}

.modal:nth-of-type(even) {
    z-index: 1042 !important;
}

.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}


/* Utilities */


/* VIDEO STYLING & MAP */

#map-container.col-lg-5 {
    padding-left: 0px;
    padding-right: 0px;
}

video {
    width: 100% !important;
    height: auto !important;
}

.map-canvas {
    width: 100%;
    height: 324px;
}

.video-row {
    cursor: pointer;
}

.video-fluid {
    width: 100%;
}

#video-player.col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
}

#video-player.col-lg-7 {
    padding-left: 0px;
    padding-right: 0px;
}


/* VIDEO STYLING */


/* ICON */

.glyphicon.glyphicon-modal-window {
    position: relative;
    right: 18px;
    top: 4px;
    cursor: pointer;
}

.close {
    position: relative;
    left: -5px;
}

.close:focus,
.close:hover {
    color: #fff;
}


/* MODAL */
/*
#snapshotEditor .modal-dialog {
    margin: 5% auto;
    position: absolute;
    left: 34.5%;
}

#bookmarkModalBox .modal-dialog {
    margin: 10% auto;
}

#bookmarkDesc,
#bookmarkName {
    background: #c0c0c2;
}

.ViewBookMark {
    display: block;
}

.bookmark-wrapper {
    height: 515px;
    overflow-y: scroll;
}

.force-overflow {
    height: auto;
}

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #2C2F43;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #000;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #000;
}*/


/* BOOKMARK */

.bookmark-item {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 3px;
    margin-bottom: 10px;
}

.bookmark-item:hover {
    background: rgba(84, 26, 26, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.19);
}

.col-lg-3.ViewBookMark {
    padding: 0px;
}


/******************
   User  Profile
*******************/
.profile-container{
    position: relative;
    width: 60%;
    margin: 5% auto;
/*    background: url('../img/user-profile.png') no-repeat;
*/    background-size: 100%;
    height: 600px;
}

.header-content{
    width: 100%;
    height: 105px;
}
.header-content h2{
    line-height: 75px;
    color: #fff;
}

.profile-pic{
    position: relative;
    margin-bottom: 20px;
    margin-left: 5px;
}

.info-container{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.user-prof-img {
    width: 100%;
    cursor: pointer;
}

.profile-pic:hover .edit {
    display: block;
}
.add-new-button a:hover,
.add-new-button a:focus {
    color: transparent;
    text-decoration: none;
}
.add-new-button a i {
    color: #7F7F7F;
    font-size: 20px;
    padding: 5px;
    width: 32px;
    height: 32px;
    left: 0 !important;
    top:0;
}
.add-new-button a i:hover,
.add-new-button a i:focus{
    color: #fff;
}

.user-more-sub{
    list-style: none;
    display: none;
}
.user-more-sub li a i{
        position: static !important;
    color: #bbb !important;
    display: inline-block !important;
    padding: 0 !important;
    height: initial !important;
    width: auto !important;
}
.user-more-sub li a,
.user-more-sub li a:hover,
.user-more-sub li a:focus{
    text-decoration: none;
    color: #bbb;
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #bbb;
}

.add-new-button:hover .user-more-sub,
.add-new-button:focus .user-more-sub{
    display: block;
    background: #fff;
    z-index: 99;
    position: absolute;
    width: 150px;
    top: 30px;
    left: 0;
    margin: 0;
}
.edit {
    padding-top: 7px;   
    padding-right: 7px;
    position: absolute;
    right: 5px;
    top: -6px;
    display: none;
}

.edit a{
    background: rgba(67, 106, 132, 0.55);
    color: #fff;
    border: 1px solid #999999;
    text-decoration: underline;
    font-size: 11px;
    padding: 2px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
.fa-pencil {
    color: #fff;
    margin-left: 2px;
}

.first-part{
    color: #fff;
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: bold;
}

.btn-change-password{
    display: block;
    width: 150px;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    background: rgba(67, 106, 132, 0.55);
    color: #999999;
    border: 1px solid #999999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.btn-change-password:hover,
.btn-change-password:focus{
    text-decoration: none;
    background: #999999;
    color: #fff;
    border: 1px solid transparent;
}

/******************
Camera Management
*******************/
.camera-table-container{
    width: 60%;
    margin: 5% auto;
}
.camera-table-container h2{
    color: #fff;
}
table.camera-table {
    width: 100%;
    margin: 5px 0;
    color: #fff;
}

th.first-head{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

th.second-head{
    color: #fff;
    font-size: 16px;
}

.action-table-select{
    cursor: pointer;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/******************
Camera Settings
*******************/
.camera-setting-container{
    float: left;
    width: 100%;
    padding: 15px;
}

.camera-setting-container h2,
.camera-setting-container h3,
.camera-setting-container h3,
.camera-setting-container h4{
    color: #fff;
    margin-bottom: 10px;
}
.badge-input,
.device-input,
label.set-label,
select.set-select{
    margin: 5px 0;
}

.badge-label,
.badge-label{
    width: 110px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5px !important
}

.badge-input,
.device-input{
    width: 240px;
    height: 30px;
    padding: 5px;
    color: #999999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

label.set-label,
select.set-select{
    margin: 5px 0;
    vertical-align: middle;
}

label.set-label {
    color: #fff;
    width: 100%;
    font-size: 14px;
    margin-left: 5px !important;
}

select.set-select {
    width: 65%;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

label.language-label{
    width: 100px;
}

select.language-select{
    width: 200px;
}

p.first-set,
p.second-set{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    width: 45%;
    color: #fff;
    font-size: 14px;
}
.reset-container{
    clear: both;
    position: relative;
    top: 85px;
    width: 150px;
    margin: 0 auto;
}

label.rest-label,
label.format-label{
    width: 165px;
    text-align: right;
}

select.rest-select,
select.format-select{
    width: 190px;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
    position: absolute !important;
    height: auto;
    width: 350px !important;
    top: 124px !important;
    left: 0px !important;
    display: block;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
    position: absolute;
    bottom: -75px;
    right: -49px;
    z-index: 9;
    display: none;
}

div#dialog-advanced {
    display: none;
    position: absolute;
    height: auto;
    width: 350px;
    top: 51px !important;
    left: 30px !important;
    z-index: 999;
}

#main-menu {
    list-style: none;
    margin: 0;
    padding: 5px;
    background: #000;
    border: 1px solid #fff;
    float: left;
}

#main-menu li {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 12px;
    border-bottom: 1px solid rgba(69, 74, 84, 0.7);
    background: rgba(67, 106, 132, 0.25);
}

#main-menu li a, #main-menu li a:hover, #main-menu li a:focus {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    background: #000;
    padding: 6px;
    font-weight: bold;
}

#main-menu li.has-sub > a:before {
    position: relative;
    content: '\f078';
    display: inline-block;
    font-family: 'FontAwesome';
    color: #FFF;
    float: right;
    font-size: 15px;
    margin-left: 13px;
    top: 0px;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#main-menu li i {
    position: relative;
    font-size: 15px;
    margin-right: 5px;
    top: 1px;
    display: inline-block;
}

#main-menu li div {
    padding: 2px;
}

input.search-box {
    display: block;
    width: 100%;
}

select.search-select{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#main-menu li div label {
    color: #fff;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.page-container .main-content{
    margin-top: -23px;
    background: #010101; 
}

.col-sm-10.main-content.body-wrapper.tab.video-preview {
    background: #fff;
}
.col-sm-10.main-content.body-wrapper.tab.video-preview .btn-primary {
    margin: 2px;
}

.user-title-wrap p {
    color: #fff;
}




.image-viewer, .audio-player {
	text-align: center;
}

.image-viewer .meta, audio-player .meta {
	padding-top: 25px;
	text-align: left;
}


 
.table-user-groupe {
    background-color: #f9f9f9;
    margin-bottom: 0;
    min-height: 80px;
}

.table-user-groupe thead {
    background-color: #ccc;
}
.table-user-groupe tbody tr:hover {
    background-color: #eee;
}

.thirdColorText  a{
    color: #7F7F7F !important;
}
.thirdColorText  a:hover,
.thirdColorText  a:focus{
    color: #fff !important;
}

.nav {
    text-align: center;
}
.nav .nav-items {
  display: inline-block;
  margin: 0 auto;
  margin-top: 26px;
}
.nav .nav-items div {
  font-size: 20px;
  width: 38px;
  height: 20px;
  opacity: 0.5;
  cursor: pointer;
  display: inline-block;
}
.nav .nav-items div:hover,
.nav .nav-items div.active {
  opacity: 1;
}

.user-info-wrap:hover .user-actions-menu{
    display: block;
}

.user-actions-menu, .secd-user-menu {
    position: absolute;
    top: 85px !important;
    right: 30px;
    width: 186px;
    color: #525252;
    cursor: pointer;
    display: none;
    font-size: 14px;
    text-align: left;
    z-index: 2;
  }
i.fa.fa-ellipsis-h {
    position: relative;
    left: 65px;
}
.archive-menu i.fa.fa-ellipsis-h {
    position: relative;
    left: 33px;
}
  .user-actions-menu .item, .secd-user-menu .item {
    display: block !important;
    background-color: #fff;
    height: 32px;
    border-bottom: 1px solid #ccc;
    line-height: 32px;
    color: #525252;
  }
  .user-actions-menu .item:hover, .secd-user-menu .item:hover {
    background-color: #ecebeb;
  }
  .user-actions-menu .item div, .secd-user-menu .item div {
    display: inline-block;
    line-height: 32px;
    color: #525252;
  }
  .user-actions-menu .item div.text-icon, .secd-user-menu .item div.text-icon {
    font-size: 22px;
    vertical-align: middle;
    padding: 0 5px;
  }
  .user-actions-menu .item div.text, .secd-user-menu .item div.text {
    vertical-align: middle;
  }
  .secd-user-menu {
      top: 0px !important;
      display: none !important;
      left: -186px;
      background: #fff;
      padding-top: 0px;
  }
  .secd-user-menu.setting-sub-menu {
      top: 160px !important;
  }

.item.secondaryColorIconInside.ng-hide.menu-queries:hover   .secd-user-menu{
    display: block !important;
}

.meta-label {
	padding-left: 15px;
	width: 90px;
	float: left;
}

.meta-input {
	width: 160px;
}

.page-container.sidebar-collapsed {
    padding-left: 0;
}

.admin-content-page.admin-groups-list.ng-scope {
    width: 100%;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 0;
    float: left;
}

.image-preview {
    height: 70px;
    max-height: 70px;
    width: 70px;
    max-width: 70px;
}

.image-preview {
    width: 100%;
    padding-top: 5px;
}

.modal-close-icon {
    top: 10px !important;
    right: 5px !important;
}

.modal.fade.admin-user-dialog.in.add_new_user .modal-body.ng-scope,
.modal.fade.admin-user-dialog.in.edit_user .modal-body.ng-scope,
.modal.fade.admin-user-dialog.in.add_new_user .modal-inner,
.modal.fade.admin-user-dialog.in.edit_user .modal-inner{
    min-height: 60vh !important; 
        padding: 5px 20px 0;
}

.modal.fade.admin-user-dialog.in.add_new_user.dialog-edit.download-pop-radio .modal-body.ng-scope,
.modal.fade.admin-user-dialog.in.add_new_user.dialog-edit.download-pop-radio .modal-inner{
    min-height: 150px !important;
}
.modal.fade.admin-user-dialog.in.add_new_user.download-pop,
.modal.fade.admin-user-dialog.in.add_new_user.download-pop-radio {
    height: 300px !important;
    min-height: auto !important;
    width: 400px !important;
    margin-left: -240px !important;
}

.modal.fade.admin-user-dialog.in.add_new_user,
.modal.fade.admin-user-dialog.in.edit_user {
    min-height: 77vh !important;
    max-height: 100vh !important;
    overflow: auto;
    pointer-events: auto !important;
}
.modal.fade.admin-user-dialog.in.add_new_group,
.modal.fade.admin-user-dialog.in.edit_group{
    max-height: 300px !important;
    pointer-events: auto !important
}
.modal-footer.ng-scope {
    width: 100%;
    float: left;
    padding: 0;
}
.table-img {
    width: 100%;
    cursor: pointer;
}

#admin-conf-global{
        width: 100%;
    margin-left: 0;
    padding-left: 10px;
    overflow: initial;
}

.configuration-global .conf-global-table{
    background: #fff;
}

.btn-default,
.btn-default:hover,
.btn-default:focus{
    color: #fff !important;
}

.configuration-global .button-area{
    width: 100% !important;
}

.icon-search:before {
    content: "" !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}

form.edit-add-form{
    float: left;
    width: 100%;
}

img.img-responsive.add-user-popup-img {
    width: 100px;
    display: inline-block;
    margin-top: 10px;
}

.modal-body.ng-scope,
.modal-inner {
    float: left;
    width: 100%;
        max-height: none;
    overflow: auto;
}

input, button, select  {
    font-family: 'open_sanslight' !important;
    font-size: 13px;
}

select{
    width: 100%;
}

p.description {
    font-size: 16px !important;
    color: #fff;
    font-weight: bold;
}

.login-header {
    padding: 100px 0 0 !important;
}

.login-container .login-form{
    margin-top:  0px !important;
    background-color: transparent !important;
}

.table-list.table-bg {
    float: left;
}

div#playerModal{
    top: 0 !important;
    width: 600px !important;
    margin-left: -350px !important;
    min-height: 500px !important;
    max-height: 55% !important;
}

div#snapshotEditor,
div#videoEditor{
        min-height: 50vh !important;
    max-height: 70vh !important;
}
div#bookmarkEditor {
        min-height: 70vh !important;
    max-height: 80vh !important;
}
div#snapshotEditor,
div#bookmarkEditor,
div#videoEditor {
    top: 0 !important;
    padding: 0 !important;
    overflow-y: scroll;
}
div#snapshotEditor .modal-dialog.modal-lg,
div#bookmarkEditor .modal-dialog.modal-lg,
div#videoEditor .modal-dialog.modal-lg{
    margin: 0;
}
div#snapshotEditor .modal-dialog.modal-lg .modal-footer ,
div#bookmarkEditor .modal-dialog.modal-lg .modal-footer,
div#videoEditor .modal-dialog.modal-lg .modal-footer {
    position: absolute;
    bottom: -10%;
    padding: 0;
    left: 280px;
}
div#snapshotEditor canvas,
div#bookmarkEditor canvas{
    width: 99%
}
div#snapshotEditor .modal-body{
    max-height: 500px !important;
}
div#bookmarkEditor .modal-body,
div#videoEditor .modal-body{
    max-height: 600px !important;
}
 div#videoEditor .modal-footer {
    position: static !important;
}
div#playerModal .modal-body{
    overflow-y: initial;
    max-height: none;
    float: left;
    width: 100%;
}
div#playerModal .modal-footer,
div#playerModal .modal-dialog.modal-lg,
div#playerModal .modal-content {
    float: left;
    width: 100%;
}

.btn:hover, .btn:focus{
    color: #fff;
}
.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.nav-book {
    width: 100%;
    margin: 5px 0;
}

a.book-link,
a.book-link:hover,
a.book-link:focus,
a.book-link .fa.fa-pencil{
    color: #000 !important;
    font-size: 18px;
}

.modal-footer .btn-group .btn+.btn{
    margin: 5px;
}

button.btn.btn-primary.btn-popup.btn_ViewBookMark {
    margin: 5px 0;
}

button#AddFavorite {
    margin-left: 0;
}

select.classification-select {
    display: inline-block;
    max-width: 160px;
    margin-top: -5px;
}

.modal-dialog.modal-lg {
    width: 100%;
}

#upload-dialog .modal-inner,
#upload-dialog .modal-body.ng-scope ,
#download-dialog .modal-inner,
#download-dialog .modal-body.ng-scope {
    min-height: 120px !important;
}

#upload-dialog input[type="file"] {
    line-height: 0;
}

.modal-header{
    background-color: transparent !important;
}

div#about-box {
    min-height: 350px;
    max-height: 380px;
    padding: 0 !important
}

h4.modal-title {
    border-bottom: 1px solid #000;
    color: #474747;
    font-size: 28px
}
input#first-datepicker {
    width: 100%;
}
input#scd-datepicker,
input#thrd-datepicker {
    width: 49%;
}
div#ui-datepicker-div {
    background: #fff;
    width: 200px;
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: #D3D3D3;
    color: #000;
        border: 1px solid #aaaaaa;
        color: #222222;
    font-weight: bold;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-widget-header a {
    color: #222222;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-widget-header .ui-icon {
    background-image: url("../images/ui-icons_222222_256x240.png");
}
.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}
.ui-icon {
    width: 16px;
    height: 16px;
}

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    /* support: IE8; */
    background-image: none;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url("../images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
}

td#pict-row {
    height: 70px;
    max-height: 70px;
    width: 70px;
    max-width: 70px;
    padding: 2px 0;
}

.table-list.table-bg {
    margin-bottom: 10px;
}

.profile-pic-inner{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    padding: 0 10px;
}
.profile-info-inner{
    display: inline-block;
    vertical-align: top;
    width: 47%;
    padding: 0 10px;
}

.modal-header {
    border-bottom: 1px solid #474747 !important;
}

#burn-dialog .modal-header {
    border-bottom: 0 !important;
}

.modal-inner.burn-inner {
    text-align: center;
}

div#about-box .modal-header,
div#playerModal .modal-header,
div#snapshotEditor .modal-header,
div#bookmarkEditor .modal-header {
    border-bottom: none !important;
}
div#about-box button.close {
    display: none !important;
}
div#about-box .modal-dialog {
    margin: 10px auto 0 !important;
}
div#about-box .modal-close-icon {
    top: 0 !important;
}

.meta {
    float: left;
    width: 100%;
    margin: 5px 0;
}

div#admin-conf-global {
    float: left;
}

.priv-head{
    color: #fff;
}

.global-table-content.ng-scope {
    display: inline-block;
    width: 48%;
        vertical-align: top;
    margin-top: 10px;
}
.global-table-content.ng-scope ul {
    float: left;
    width: 100%;
}
.global-table-content.ng-scope ul li {
    width: 100% !important;
}
ul.table-priv {
    float: left;
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
}

.search-btn-container {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

button.btn-parent.btn-default.btn-search {
    width: 70px;
    font-size: 13px;
    margin-left: 0;
    padding: 0 5px;
}


.select-container,
 .label-container{
    display: inline-block;
    width: 49%;
        vertical-align: top;
    margin-top: 10px;
    padding: 0 5px;
}

.select-box label {
    display: inline-block;
    width: 24%;
    vertical-align: bottom;
    margin-right: 2px;
    max-height:  20px;
}

.select-box select {
    display: inline-block;
    width: 74%;
    vertical-align: top;
}

.select-box {
    margin: 5px 0;
    float: left;
    width: 100%;
}
div#dialog-edit-4545{
    min-height: 900px !important;
}

.select-container h4,
.label-container h4{
    color: #000;
}

.label-container  span {
    vertical-align: top;
    display: inline-block;
}

.download-pop section,
.download-pop-radio section {
    width: 100% !important;
    padding: 10px;
}

.download-pop label,
.download-pop-radio label {
    display: inline-block;
    margin-left: 5px;
    vertical-align: super;
}

.download-pop-radio label {
    vertical-align: sub;
}
.container-fluid{
    padding: 0;
    margin: 0;
    background: #010101; 
}
.head-container {
    float: left;
    width: 100%;
    height: 45px;
    text-align: center;
    color: #fff;
    background: #bbb;
    position: relative;
}
.head-container h3{
    font-weight: bold;
    margin: 10px 0;
}
.head-container .modal-close-icon {
    top: 10px;
    right: 10px;
}
.video-details-inner {
    float: left;
    width: 100%;
    background: #fff;
    padding-top: 10px;
    position: relative;
}

.details-box h4{
    font-weight: bold;
    font-size: 20px

}

label.d-tiltle{
    font-weight: bold;
    display: inline-block;
    margin: 5px 0;
    width: 40%;
}

label.s-title {
    display: block;
    font-weight: bold;
    margin: 5px 0;
}

input.s-select{
    width: 100%;
}

.text-box{
    padding: 10px 5px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    margin-bottom: 10px;
}
.save-meta-group{
    width: 100%;
    text-align: center;
}
.btn-detail{
    bottom: -250px;
    display: block;
    float: none !important;
    margin: 0 auto !important;
}
.img-box-inner {
    width: 50%;
    margin: 0 auto;
}

.plyr__controls {
	background: #2c2f43 !important;
}

.plyr__controls button {
	color: #cbd0d3 !important;
}

.picture-details-inner {
	text-align: center;
}

div#change-password-modal {
    max-height: 350px;
    padding: 0 !important;
}
div#change-password-modal .modal-header {
    border-bottom: none !important;
}
div#change-password-modal .modal-dialog {
    margin: 0 !important;
    width: 100%;
}

p.priv-title-box{
        display: inline-block;
    max-width: 50%;
    min-width: 15%;
    font-size: 14px;
    font-weight: 700;
}
select#permission_level {
    display: inline-block;
    max-width: 49%;
    min-width: 150px;
    width: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

textarea#bookmark-description {
    max-height: 110px;
    max-width: 100%;
}

form#bookmarkForm{
    margin: 0;
}
.form-group {
    margin-bottom: 0;
}


/*.table-up-gap{
    margin-top: 37px;
}*/

.activity-input,
.activity-select{
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
    width: 150px;
}

.activity-select{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.activity-input{
    width: 300px;
}

.btn-activity {
    margin: 10px 0;
    height: 30px;
    padding: 5px 10px;
}
#ticket-box{
    overflow: hidden;
    max-height: 500px;
}

#ticket-box .modal-dialog.modal-lg,
#ticket-box .modal-content{
    margin: 0 !important;
    height: 445px;
}


#ticket-box .modal-body{
    /*overflow: hidden;*/
}

#ticket-box .modal-header {
    border: none !important;
}


.crew-one, .crew-two {
    width: 49% !important;
    border: 0 !important;
    min-height: 150px;
}

.crew-one .global-table-content.ng-scope ul li {
    width: auto !important;
    float: left;
}

.clearfix {
    float: left;
    width: 100%;
    height: 15px;
}

.crew-one  ul.select2-choices {
    border: 1px solid #bbb !important;
    border-color: #bbb !important;
}

.globale-one,
.globale-two{
    display: inline-block;
    width: 50%;
    margin: 0 -2px;
}

.archive-atble-container.table-responsive {
    height: 100px;
    overflow-y: scroll;
}

table.table-archive td{
    border-top: 0 !important;
    width: 50.8%;
}

table.table-archive td a,
table.table-archive td a:hover,
table.table-archive td a:focus {
    text-decoration: none;
    color: initial;
}
/******************
    Media
*******************/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .main-head-title h1{
        text-align: left;
        padding-left: 10px;
    }
    label.d-tiltle{
        width: 50%;
    }
    div#change-password-modal {
        max-height: 350px;
        padding: 0 !important;
        width: 100% !important;
        margin-left: 0 !important;
        left: 0 !important;
    }
    div#snapshotEditor,
    div#videoEditor,
    div#bookmarkEditor{
        width: 100% !important;
        left: 0 !important;
        margin-left: 0 !important;
        min-height: 50vh !important;
        max-height: 96vh !important;
    }
    div#ticket-box {
        overflow: auto;
        width: 100% !important;
        left: 0;
        margin-left: 0;
    }
}
@media only screen and (max-width: 767px) {
    div#ticket-box {
        overflow: auto;
        width: 100% !important;
        left: 0;
        margin-left: 0;
    }
    div#change-password-modal {
        max-height: 350px;
        padding: 0 !important;
        width: 100% !important;
        margin-left: 0 !important;
        left: 0 !important;
    }
    div#snapshotEditor .modal-dialog.modal-lg .modal-footer ,
    div#bookmarkEditor .modal-dialog.modal-lg .modal-footer,
    div#videoEditor .modal-dialog.modal-lg .modal-footer {
        position: static;
    }
    .img-box-inner {
        width: 100%;
        margin: 0 auto;
    }
    div#snapshotEditor .modal-dialog.modal-lg ,
    div#bookmarkEditor .modal-dialog.modal-lg,
    div#videoEditor .modal-dialog.modal-lg {
        margin: 0;
    }
    .btn-detail{
        position: static !important;
        margin-bottom: 10px !important
    }
    .profile-container{
        width: 100%;
    }
    div#about-box  {
        top: 5px !important;
        width: 99% !important;
        margin-left: 0 !important;
        left: 0 !important;
    }
    div#about-box  .modal-dialog.modal-lg {
        width: 100%;
        margin: 10px 0;
    }
    div#about-box  .modal-body {
        width: 100%;
        overflow: initial;
    }
    div#about-box {
        max-height: 430px;
    }
    div#about-box .modal-footer{
        display: none;
    }
    div#playerModal .modal-footer, div#playerModal .modal-dialog.modal-lg, div#playerModal .modal-content{
        width: 99%
    }
    .admin-user-dialog .modal-body section .input-field{
        width: 95% !important;
    }
    div#playerModal{
        width: 100% !important;
        left: 0;
        margin-left: 0 !important;
            max-height: 100% !important;
    }
    .login-form {
        width: 100% !important;
    }
    .login-content {
        width: 100% !important;
        padding: 20px !important;
    }

    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
        left: 0px !important;
        top: 306px !important;
        width: 85% !important;
    }
   div#dialog-advanced{
        width: 90%;
        left: 0;
        top: 65px;
    }
    .top-head {
        display: none;
    }
    .nav-items {
        text-align: left;
    }
    .nav-items div {
        float: none;
    }
    .nav-items,
    .nav-search{
        position: static;
        float: left;
        margin: 5px 0;
    }
    a.advance-seache{
        position: static;
        margin: 5px 0;
    }
    a.advance-seache,
    .nav-search-input{
        width: 100%;
    }
    .keyword{
        border-bottom: 1px solid #fff;
    }
    .video-thumb-wrap,
    .video-description-wrap {
        margin: 5px 0;
    }
    .logo-top-menu {
        margin: 0 auto;
    }
    .pager-wrap{
        text-align: right;
    }
    .records-wrapper,
    .pager-wrap {
        float: left;
        width: 98%;
        max-width: 100%;
    }
    .dash-box {
        width: 100%;
    }
    .profile-container,
    .camera-table-container {
        width: 100%;
        padding: 0 10px;
    }
    label.set-label,
    select.set-select{
        width: 100%;
    }
    label.rest-label,
    label.format-label{
        text-align: left;
    }
    div#dialog,
    div#dialog-edit,
    .modal.fade.admin-user-dialog.in.edit_user {
        width:  100% !important;
        margin-left: 0 !important;
        left:0 !important;
        max-height: 100vh !important;
        min-height: 50vh !important;
    overflow: scroll;
    }
    .modal.fade.admin-user-dialog.in.add_new_user .modal-body.ng-scope, .modal.fade.admin-user-dialog.in.edit_user .modal-body.ng-scope, .modal.fade.admin-user-dialog.in.add_new_user .modal-inner, .modal.fade.admin-user-dialog.in.edit_user .modal-inner{
        min-height: 81vh !important;
    }
    .page-container .main-content{
        top: 0;
    }
    #mediaScreenAndMap.col-sm-8{
        width: 100% !important;
    }
    .main-head-title h1{
        margin: 25px 0;
    }
    div#snapshotEditor, div#bookmarkEditor, div#videoEditor {
        top: 0 !important;
        min-height: 50vh !important;
        padding: 0 !important;
        max-height: 100vh !important;
        overflow-y: scroll;
    }
    .crew-one, .crew-two {
        width: 98% !important;
        min-height: auto;
    }
    .crew-one .global-table-content.ng-scope,
    .crew-two .global-table-content.ng-scope{
        width: 95% !important;
    }
    ul.table-priv {
        padding-left: 10px;
        padding-right: 10px;
    }
    .globale-two {
        padding-left: 16px !important;
    }
}
@media only screen and (max-width: 426px) {
    .profile-info-inner{
        margin-top: 5px;
        width: 100% !important;
    }
}

.picklist {
	margin: 15px;
	padding-top: 60px;
	width: 300px;
}
.picklist .select2-container { 
	margin-top: 15px;
}
.picklist span {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}

.device-ONLINE:before {
	content: 'ONLINE';
	color: green;
}

.device-OFFLINE:before {
	content: 'OFFLINE';
	color: red;
}

.device-SYNC:before {
	content: 'SYNC';
	color: blue;
}

.device-progress {
	font-weight: bold;
	color: green;
}

#notification-message {
	color: green;
}
